<HTML>
<BODY>
<H2>JO</H2>
<p>borough: <%= r.borough %></p>
<p>cuisine: <%= r.cuisine %></p>
<p>address:</p>
<p>street: <%= r.street %></p>
<p>building: <%= r.building %></p>
<p>zipcode: <%= r.zipcode %></p>
<p>owner: <%= name %></p>
</BODY>
</HTML>
