<HTML>
<BODY>
<H2><%= r.name %></H2>
<p>ID: <%= r._id %></p>
<p>Borough: <%= r.borough %></p>
<p>Cuisine: <%= r.cuisine %></p>
<p>Street: <%= r.street %></p>
<p>Building: <%= r.building %></p>
<p>Zipcode: <%= r.zipcode %></p>
<p>GPS: <%= r.gps1 %>,<%= r.gps2 %> </p>
<p>owner: <%= r.owner %></p>
<div class="row">
      <a href="/edit?id=<%= r._id %>">
        <button class="btn btn-default">Edit</button>        
      </a>
      <a href="/remove?id=<%= r._id %>">
        <button class="btn btn-default">Delete</button>        
      </a>
       <a href="/read">
        <button class="btn btn-default">Go back</button>
      </a>
    </div>
</BODY>
</HTML>
